openapi: 3.1.0
info:
  title: Fish Audio Asr Model API
  description: Fish Audio is an AI voice platform offering text-to-speech, voice cloning, speech-to-text, and voice model management. Authentication is by API key issued at https://fish.audio/app/api-keys and presented as a Bearer token.
  version: '1.0'
  contact:
    name: Fish Audio
    url: https://docs.fish.audio
servers:
- url: https://api.fish.audio
  description: Production
security:
- bearerAuth: []
tags:
- name: Model
paths:
  /model:
    get:
      summary: List voice models
      operationId: listModels
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
      - name: page_number
        in: query
        schema:
          type: integer
      - name: title
        in: query
        schema:
          type: string
      - name: tag
        in: query
        schema:
          type: string
      - name: self
        in: query
        schema:
          type: boolean
      - name: author_id
        in: query
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
      - name: title_language
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paginated model list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Model
    post:
      summary: Create a voice clone model
      operationId: createModel
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                description:
                  type: string
                voices:
                  type: array
                  items:
                    type: string
                    format: binary
                texts:
                  type: array
                  items:
                    type: string
                tags:
                  type: array
                  items:
                    type: string
                visibility:
                  type: string
                  enum:
                  - public
                  - unlist
                  - private
                cover_image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Created model
          content:
            application/json:
              schema:
                type: object
      tags:
      - Model
  /model/{id}:
    get:
      summary: Get a voice model
      operationId: getModel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Model details
          content:
            application/json:
              schema:
                type: object
      tags:
      - Model
    patch:
      summary: Update a voice model
      operationId: updateModel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                cover_image:
                  type: string
                visibility:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated
      tags:
      - Model
    delete:
      summary: Delete a voice model
      operationId: deleteModel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
      tags:
      - Model
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
