openapi: 3.1.0
info:
  title: Fish Audio Asr Wallet API
  description: Fish Audio is an AI voice platform offering text-to-speech, voice cloning, speech-to-text, and voice model management. Authentication is by API key issued at https://fish.audio/app/api-keys and presented as a Bearer token.
  version: '1.0'
  contact:
    name: Fish Audio
    url: https://docs.fish.audio
servers:
- url: https://api.fish.audio
  description: Production
security:
- bearerAuth: []
tags:
- name: Wallet
paths:
  /wallet/{user_id}/package:
    get:
      summary: Get user package / balance / subscription
      operationId: getUserPackage
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          default: self
      responses:
        '200':
          description: Package payload
          content:
            application/json:
              schema:
                type: object
      tags:
      - Wallet
  /wallet/{user_id}/api-credit:
    get:
      summary: Get API credit balance
      operationId: getApiCredit
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: check_free_credit
        in: query
        schema:
          type: boolean
      - name: team_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Credit details
          content:
            application/json:
              schema:
                type: object
      tags:
      - Wallet
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
